<% if(config.disqus_shortname && page.comments) { %>
<section id="comment">
    <!-- <h1 class="title"><%= __('comment') %></h1> -->
    <div id="disqus_thread" aria-live="polite"><%- partial('post/disqus_thread')%></div>
</section>
<% } else if (theme.duoshuo_shortname && page.comments){ %>
<section id="comment">
    <!-- <h1 class="title"><%= __('comment') %></h1> -->
    <div id="duoshuo_thread" aria-live="polite"><%- partial('post/duoshuo')%></div>
</section>
<% } %>
