<% if (theme.forkme_on_github) { %>
<a target="_blank" href="https://github.com/shmilee">
    <img alt="Fork me on GitHub" style="position: absolute; top: 0; left: 0; border: 0;" src="<%- config.root %>images/forkme_100.png"></img>
</a>
<% } %>
