<div itemscope itemtype="http://schema.org/Blog">
<% page.posts.each(function(item){ %>
  <%- partial('_partial/post', {item: item, index: true}) %>
<% }); %>
</div>

<%- partial('_partial/pagination') %>
